

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); 
    color: white;
    overflow: hidden;
    




.header {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 47%;
    transform: translateX(-50%);
    font-family: 'Handjet', cursive;
    font-size: 1rem;
    font-weight: 800;

    
    &_wrap {
        margin-top: 1rem;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95vw;
    }

    
    &_left {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}


.neon {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: cyan; 
    border: cyan 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

   
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em cyan;
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan;
}

.neon:hover {
    
    background: cyan; 
    color: var(--clr-bg); 
    text-shadow: none;

    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;

   
}

.svg_box{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../images/pexels-jonathan-formento-4337198.jpg');
    background-size: cover;
   
    
    
}

.svg_box::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/pexels-jonathan-formento-4337198.jpg');
    opacity: .5;
    mix-blend-mode: hard-light;
}

.svg_box:hover::before{
    animation: animate 4s linear infinite;
}


@keyframes animate{
    0%{
        background-position: -5px 0 ;
        filter: hue-rotate(0deg);
    }
    10%{
        background-position: 5px -1px;
    }
    20%{
        background-position: -5px 0;
    }
    30%{
        background-position: 15px 0;
    }
    40%{
        background-position: 5px 0;
    }
    50%{
        background-position: -25px 0;
    }
    60%{
        background-position: -50px 0;
    }
    70%{
        background-position:  0 -20px;
    }
    80%{
        background-position: -30px -10px;
    }
    81%{
        background-position: -10px -5px;
    }
    100%{
        background-position: 5px -1px;

    }

}






.fancy_button {
    width: 6em;
    height: 1.9em;
    border: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 1rem ;
    color: rgb(0, 70, 105);
    background-color: cyan;
    border-radius: 3.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.8em cyan, 0 0 1.3em cyan;
    transition: 0.5s;
    letter-spacing: 0.2em;
}

.fancy_button:hover {
    transform: scale(0.9);
    animation: pulse 0.7s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0.8em rgb(75, 236, 233), 0 0 1.3em rgb(75, 236, 233);
        filter: blur(0.10em);
    }
    50% {
        box-shadow: 0 0 0 0.5em rgb(5, 142, 211), 0 0 0 1.3em rgb(5, 142, 211);
        filter: blur(0.05em);
    }
    100% {
        box-shadow: 0 0 0.9em rgb(75, 236, 233), 0 0 1.8em rgb(75, 236, 233);
        filter: blur(0.02em)
    }
}

}


