/* Landing Styles */

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Background color */
    color: white;
    overflow: hidden;
    




.header {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 47%;
    transform: translateX(-50%);
    font-family: 'Handjet', cursive;
    font-size: 1rem;
    font-weight: 800;

    
    &_wrap {
        margin-top: 1rem;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95vw;
    }

    
    &_left {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}


.neon {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: cyan; 
    border: cyan 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

   
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em cyan;
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan;
}

.neon:hover {
    
    background: cyan; 
    color: var(--clr-bg); 
    text-shadow: none;

    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;

   
}

.svg_box{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../images/diane-picchiottino-o9o1ihCnEMQ-unsplash.jpg');
    background-size: cover;
    
    
}

.box{
    position: absolute;
    background: url('../images/ai-generated-7975718_1920.png');
    background-attachment: fixed;

}






.fancy_button {
    width: 6em;
    height: 1.9em;
    border: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 1rem ;
    color: rgb(105, 0, 0);
    background-color: rgb(252, 89, 29);
    border-radius: 3.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.8em rgba(252, 89, 29, 1), 0 0 1.3em rgba(252, 89, 29, 1);
    transition: 0.5s;
    letter-spacing: 0.2em;
}

.fancy_button:hover {
    transform: scale(0.9);
    animation: pulse 0.7s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0.8em rgba(252, 89, 29, 1), 0 0 1.3em rgba(252, 89, 29, 1);
    }
    50% {
        box-shadow: 0 0 0 0.5em rgba(243, 20, 8, 0.545), 0 0 0 1.3em rgba(252, 89, 29, 0.5);
        filter: blur(0.05em);
    }
    100% {
        box-shadow: 0 0 0.9em rgba(251, 104, 51, 0.8), 0 0 1.8em rgba(252, 89, 29, 1);
    }
}

}


