.project {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ff5733;
    
    //removed blink animation add if needed

    background-size: cover;
    background-image: url('../images/project_img.jpg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}



@keyframes blink {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}


h1{
    margin-left: 3rem;
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .1em;
    -webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
    outline: none;
	animation: animate2 3s linear infinite ;
}

@keyframes animate2{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #0e3742;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		            0 0 20px #03bcf4,
		            0 0 40px #03bcf4,
		            0 0 80px #03bcf4,
		            0 0 160px #03bcf4;

	}
}




.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center cards horizontally with space around them */
    gap: 1.25em;
    margin-right: 2rem;
    gap: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #23b7e0;
    
}






.card1, .card2, .card3 {
    border: 1px solid #ccc;
    border-radius: 10%;
    padding: 1.25em;
    width: 260px;
    height: 360px;
    text-align: center;
    box-sizing: border-box;
    text-align:center;
    box-shadow: 0 0 10px rgba(245, 243, 243, 0.914);
    transition: box-shadow 0.3s ease;
    animation: floatEffect 3s ease-in-out infinite; 
    

}

.card3:hover {
    box-shadow: 0 0 70px rgba(243, 239, 239, 0.962); 
}


.card2:hover {
    box-shadow: 0 0 70px rgba(243, 239, 239, 0.962); 
}

.card1:hover {
    box-shadow: 0 0 70px rgba(243, 239, 239, 0.962); 
}





.card1{
    background: url("../images/ross.webp");
    background-size:cover;
     
}

.card2{
    background: url("../images/gitmo.jpeg");
    background-size: cover;
}

.card3{
    background: url("../images/lou.jpg");
    background-size: cover;
}


 .card2{
    margin-top: 10rem;
}

@keyframes floatEffect {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card1 h4, .card2 h4, .card3 h4 {
    margin-top: 0;
    position: relative;
    top: 0;
}

.card1 p, .card2 p, .card3 p {
    margin-bottom: 0;
    position: relative;
    bottom: 0;
}




h4{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #fcecef;
    text-shadow: 0 0 10px #fb2c5c,
                0 0 20px #fb2c5c,
                0 0 40px #fb2c5c,
                0 0 80px #fb2c5c,
                0 0 160px #fb2c5c;
}


p{
    font-family: 'Handjet', cursive;
    font-size: 3rem;
    color: #fcecef;
    text-shadow: 0 0 10px #fb2c5c,
                0 0 20px #fb2c5c,
                0 0 40px #fb2c5c,
                0 0 80px #fb2c5c,
                0 0 160px #fb2c5c;
}



